body {
	color : Black;
	background-color: gray;
	font-size: 20 pt;
	font-family: Veranda; Geneva, Arial, Helvetica, Sans-serif;
	text-align:center;
	margin:20px
}
h1 {text-align: center;
}

h3{text-align: center;
}
#title{font-size: 28pt;
text-align: center;}

.wrap{font-size: 20pt; margin:auto; width:90%; text-align:center; background-color: Green; border: 5 px solid black;}


#info{
	text-align:left;
}

#list{
margin: auto; width: 90%; text-align: left; background-color: green; border: 5 px solid black; text-align: center; font-size: 20pt;
}
#resume{
	text-align: left;
	margin: 0 auto;
	padding: 15px;
	width:85%;
}
#left{
	width: 15%;
	float:left;
	padding: 15px;
}

#right{
	width: 15%;
	float: right;
	padding; 15px;
}